body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.6;
    letter-spacing: 0.3px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea,
select,
label {
    font-family: 'Times New Roman', Times, serif !important;
}

h1,
h2 {
    font-style: bold;
}

.container {
    background-color: #e6f0ff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}